<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seccion css</title>
    <link rel="stylesheet" href="/SRC/public/css/styles.css">
</head>

<body>
    <h1>Main title</h1>

<div  id="cont">

    <h2 class="color1">Texto color 1</h2>
    <h2 class="color2">Texto color 2</h2>
    <h2 class="color3">Texto color 3</h2>

</div>

<div class="cont-2">

    <a class="boton" href="#"> Enlace </a>

</div>

<div class="cont-3">

    <a class="boton" href="#n1"> Ir a Parrafo 1 </a>
    <a class="boton" href="#n2"> Ir a Parrafo 2 </a>
    <a class="boton" href="#n3"> Ir a Parrafo 3 </a>
    <p id="n1">Parrafo 1</p>
    <p id="n2">Parrafo 2</p>
    <p id="n3">Parrafo 3</p>

</div>

</body>

</html>